<% if @question == "I am going to work" %>
<% @answer = "Great !" %>
<% elsif @lastChar && @lastChar == '?' %>
<% @answer = "Silly question, get dressed and go to work!" %>
<% else %>
<% @answer = "I don't care, get dressed and go to work!" %>
<% end %>

<div class="container mt-3">
  <h1>Stupid Coaching</h1>
  <div class="callout">
    <p><%= @question.capitalize() %></p>
    <p class="italic">-You</p>
  </div>
  <div class="callout warning">
    <p><%= @answer %></p>
    <p class="italic">-Your coach</p>
  </div>
</div>
