<div class="form-container mt-3">
  <h1>Stupid coaching</h1>
  <form action="/answer" data-turbo="false">
    <p><span class="form-text">Ask to your coach anything:</span></p>
    <div class="input-button">
      <input type="text" name="question" class="form-control" id="ask-input">
      <button class="btn btn-primary" type="submit" id="ask">Ask !</button>
    </div>
  </form>
</div>
