/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .form-container {
  width: 70%;
  margin: auto;
 }

 p {
  margin: 0 !important;
  padding: 0;
 }

 .input-button {
  display: flex;
 }

 #ask {
  width: 80px;
  border-radius: 0 8px 8px 0;
 }

 #ask-input {
  border-radius: 8px 0 0 8px;
  border-right: 0;
 }

 .callout {
  padding: 10px;
  padding-left: 20px;
  margin: 40px 0;
  border: 0px solid;
  border-left-width: 5px;
  border-left-color: #ddd;
  border-radius: 3px;
 }

 .callout p {
  font-size: 25px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
 }

 .italic {
  font-style: italic;
 }

 .warning {
  background-color: #FFFFE1;
 }
